@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #4B164C;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Lobster", sans-serif; */
  /* /* font-family: "Lobster Two", sans-serif;  */
  font-family: "Inter", sans-serif;
}

.lobster-font {
  font-family: "Lobster", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.mockup_shadow {
  filter: drop-shadow(0px -5.59289px 24.5227px rgba(0, 0, 0, 0.1)) drop-shadow(0px -16.3484px 17.2089px rgba(255, 255, 255, 0.1)) drop-shadow(0px 35.2782px 53.7778px rgba(0, 0, 0, 0.15)) drop-shadow(0px 15.9182px 15.9182px rgba(0, 0, 0, 0.25));
}

@media (max-width:440px) {
  .heading_topic{
    font-size: 60px;
  }
  .heading_begin{
    font-size: 54px;
  }
}
@media (max-width:430px) {
  .heading_topic{
    font-size: 56px;
  }
  .heading_begin{
    font-size: 52px;
  }
}

@media (max-width:428px) {
  .heading_topic{
    font-size: 42px;
  }
  .heading_begin{
    font-size: 52px;
  }
}

@media (max-width:390px) {
  .heading_topic{
    font-size: 50px;
  }
  .heading_begin{
    font-size: 47px;
  }
}

@media (max-width:360px) {
  .heading_topic{
    font-size: 46px;
  }
  .heading_begin{
    font-size: 44px;
  }
}