
@import "tailwindcss";

:root {
  --background: #FFEAFF;
  --foreground: #4B164C;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Lobster", sans-serif; */
  /* /* font-family: "Lobster Two", sans-serif;  */
  font-family: "Inter", sans-serif;
}

.lobster-font {
  font-family: "Lobster", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}
